$red: #ED5454;
$teal: #38cb87;
$orange: #f6921f;
$purple: #8c6cd1;
$brown: #774F38;

$background-color: $red;
$text-color-light: whitesmoke;
$text-color-warning: $red;
$text-color-success: $purple;
$text-color-danger: $orange;
$text-color-alternate: $brown;